body {
	overflow-y: scroll;
}

#search-form {
	text-align: right;
}

#main-menu a {
	margin-right: 1em;
}

/*
 * Album icon.
 */
.album-icon {
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	text-align: center;
	background-color: #efeffa;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border: thin solid #ccc;
}

.album-icon img {
	max-width: 160px;
	max-height: 160px;
}

.album-icon .title {
	font-size: 10pt;
	width: 160px;
}

a .albumThumb {
	color: black;
}

a:hover .albumThumb {
	background-color: #dedffa;
}

.albumThumb .image-container {
	width: 160px;
	height: 160px;
	border: thin solid #aaa;
}

.albumThumb p {
	margin: 0.2em 0 0;
	font-size: smaller;
	max-width: 160px;
}


/*
 * Home page.
 */

.letter_menu a {
	padding: 6px;
	line-height: 25px;
}

#mainPageRandomReleases .imgdesc_cell{
	float: left;
	margin: 2px 15px;
	height: 230px;
	overflow: hidden;
}

#mainPageRandomReleases hr{
	clear: both;
	height: 1px;
	visibility: hidden;
}


/*
 * Bands list page.
 */

.table_list td {
	padding: 9px 11px 12px 11px;
	border-bottom: solid 1px #999;
}

/*
 * Band info page
 */
dl.lineups {
	counter-reset: lineup-number;
}

dl.lineups dt:before {
	counter-increment: lineup-number;
	content: counter(lineup-number) ")";
	margin-right: 0.5em;
}

dl.lineups dd {
	margin-bottom: 1em;
}


/*
 * Album info page
 */

div.lineup, div.info, div.quick-details {
	font-size: 10pt;
	line-height: 14pt;
}

/* Real name besides the stagename */
div.lineup td i {
	margin-left: 1em;
	display: inline-block;
	float: right;
}

.tracklist {
	margin-top: 1em;
	margin-bottom: 1em;
	width: 330px;
}

.tracklist td:nth-child(1) {
	padding-right: 0.5em;
	padding-left: 0;
	width: 0.5em; /* As small as possible. */
}

.tracklist td:nth-child(2) {
	padding-right: 1em;
}

.tracklist td:not(:nth-child(2)) {
	text-align: right;
}

.tracklist td:last-child {
	padding-right: 0;
}

.tracklist small {
	display: inline-block;
	float: right;
}

/*
 * Additional styles for edit-enabled pages.
 */
.reloading {
	opacity: 0.5;
}
