body {
	color: #333;
	font-family: serif;
	font-size: 11pt;
	margin: 0px;
	padding: 20px 120px 20px 40px;
}

a {
	color: #03e;
	text-decoration: underline;
}

a:hover {
	color: #09e;
}

h1 {
	font-size: 16pt;
}

table {
	border-spacing: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

table caption, th {
	text-align: left;
	font-weight: bolder;
	margin-bottom: 0.2em;
	font-size: 10pt;
	padding-top: 0.7em;
	padding-bottom: 0.5em;
}

td {
	padding-right: 1em;
	vertical-align: top;
}

form div {
	padding: 5px;
}

form label {
	font-size: 10pt;
	display: block;
	display: inline-block;
	vertical-align: top;
	width: 100px;
}

form input, form select, form textarea {
	width: 200px;
}

form button {
	padding: 0em 2em;
}
