.column-meter {
  position: relative;
  display: flex;
}

.column-meter > div {
  overflow: hidden;
  font-size: 10pt;
  text-indent: 2px;
  white-space: nowrap;
  text-align: right;
  padding: 4px 0;
}

.column-meter .finished {
  background-color: #b0f1ff;
}

.column-meter .in-progress {
  background-color: #b9de96;
}

.column-meter .in-queue {
  background-color: #eee;
}
