body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 12pt;
	padding-top: 3em;
}

h1 {
	font-size: 16pt;
	margin: 1em 0;
}

h2 {
	font-size: 14pt;
	margin: 2em 0 1em;
}

h3 {
	font-size: 12pt;
	margin: 2em 0 1em;
}

:link {
	color: blue;
}

button, input, textarea {
	font-size: 0.9em;
}

.breadcrumbs {
	padding: 0;
	margin: 0;
}

.breadcrumbs * {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.breadcrumbs li {
	display: inline-block;
}

.breadcrumbs li:not(:first-child):before {
	content: "/ ";
}

.comment-form textarea {
	height: 6em;
	width: calc(100% - 4px);
}

.comment-form button {
	width: calc(100% - 4px);
}


.project-list-item {
	border: thin solid #ddf;
	padding: 1em;
	margin-bottom: 0.5em;
}


.tasks-list-item {
	border: thin solid #ddf;
	padding: 1em;
	margin-bottom: 0.5em;
	position: relative;
}

.tasks-list-item.done {
	background-color: #bfb;
}

.tasks-list-item h2 {
	font-size: 1em;
	margin: 0;
}

.tasks-list-item .priority {
	position: absolute;
	right: 1em;
	top: 5px;
	font-size: smaller;
}



.new-task-link {
	display: block;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5em;
	background: white;
	text-align: center;
	box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}







#content {
	max-width: 44em;
	margin-left: auto;
	margin-right: auto;
}

article h2 {
	margin-top: 2em;
	margin-bottom: 1em;
}
form h1 {
	font-size: 1em;
}

.create {
	color: white;
}
.create:before {
	content: "+";
	font-size: large;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.5em;
}
#navbar {
	padding: 0.5em 1em;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	border-bottom: thin solid #eef;
	box-shadow: 0 1px 4px #eef;
	background: white;
}
#navbar :link,
#navbar :visited {
	color: #333;
}
#navbar a {
	/* margin-right: 1em; */
}
#navbar .right {
	float: right;
}
#navbar .right a {
	margin-left: 0.5em;
	margin-right: 0;
}
#navbar .right nav {
	display: inline;
}
#login-form {
	width: 300px;
	margin: auto;
}
/*
 * Projects tasks page.
 */
#project-tasks-menu {
	margin: 1em 0;
}
#project-tasks-menu a {
	font-weight: bold;
	margin-right: 1em;
}
/*
 * Tasks table.
 */
#tasks-list table {
	margin-top: 1em;
}
#tasks-list tr.closed {
	background-color: #899;
}
#tasks-list tr:not(.closed) + tr.closed td {
	border-top: 20px solid white;
}
#tasks-list tr.cancelled {
	background-color: #eed;
}
#tasks-list tr.cancelled .name:before {
	content: "\2613";
	margin-right: 0.5em;
}
#tasks-list tr.later td {
	color: #444;
}
#task-settings {
	float: right;
	margin-left: 2em;
	margin-bottom: 1em;
	background-color: #efefef;
	max-width: 8em;
}
#task-settings form {
	border-bottom: thin dotted #376092;
	border-bottom: thin solid white;
	padding: 0.6em;
}
#task-settings form:last-child {
	border-bottom: none;
}
#task-settings label {
	display: block;
}
#task-settings button {
	/*display: inline;
	border: none;
	background: none;
	text-decoration: underline;
	color: @blue; */
	cursor: pointer;
	font-size: 13px;
	min-width: 7em;
	padding: 0;
}
#task-settings button:hover {
	/*color: orange; */
}
#comment-form {
	padding-top: 1.5em;
}
#task-comments time {
	font-size: smaller;
}
.comment {
	padding: 1em 0;
}
.comment .head + p {
	margin-top: 0.5em;
}
.comment + .comment,
#task-comments {
	border-top: 1px solid #aab;
}
.comment:last-of-type {
	border-bottom: 1px solid #aab;
}
.comment-anchor {
	position: relative;
	top: -40px;
}

#task-form input[name="name"],
#task-form input[name="ref"],
#task-form input[name="size"] {
	width: 3em;
}
#settings-form {
	margin-bottom: 2em;
}
#footer {
	background: #99ccff;
	height: 2em;
	margin-top: 2em;
}
