body {
  /* font-family: Arial, sans-serif; */
  font-size: 16px;
  padding: 0;
  margin: 1em;
  line-height: 20px;
}

h3 {
  font-size: 16px;
}

h2 {
  font-size: 22px;
}

h1 {
  font-size: 30px;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
  margin-top: 32px;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: 14px;
  padding: 9px;
  color: #555;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #334ba2;
  outline: none;
}

button {
  background-color: #334ba2;
  border: none;
  color: white;
  cursor: pointer;
}

label[for] {
  cursor: pointer;
}

a.btn {
  display: inline-block;
  background-color: #334ba2;
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  min-width: 2em;
}

.btn-sec,
.sec {
  background-color: #e0e0e0;
  color: #222;
}

input,
textarea {
  min-width: 240px;
}

input[type="checkbox"],
input[type="radio"],
input[type="number"] {
  min-width: 0;
  width: auto;
}

input[size="2"] {
  width: 3em;
}

input[size="3"] {
  width: 4em;
}

input[size="4"] {
  width: 5em;
}

label {
  display: block;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline;
}

form h1 {
  margin-top: 8px;
  font-size: 1em;
}

form > div {
  margin-bottom: 8px;
}

table {
  margin: 1em 0;
  border-spacing: 0;
  border-top: 1px solid #bbb;
}

table caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  text-align: left;
  padding: 0.5em 1em;
  border-bottom: 1px solid #bbb;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 1em;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

hr {
  height: 1px;
  border-width: 0px;
  border-top: 1px solid #ccf;
  margin: 2em auto;
}

.notice {
  color: #3a398f;
}

.error {
  color: #e42;
}

#header {
  /* background-color: #eef; */
  background-color: #79d818;
  padding: 1em;
  margin: -1em -1em 1em -1em;
  color: white;
}

#header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 1em;
}

#login-form {
  text-align: center;
}

#dest-frame {
  width: 100%;
  min-height: 30em;
}

.dict-preview {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #b6d09b;
  padding: 1em;
  margin-bottom: 0.5em;
}

.dict-preview .test-button {
  align-self: flex-end;
}

.nope td:nth-child(3) {
  color: red;
  text-decoration: line-through;
}

.test-form > section {
  /* display: inline-block; */
  vertical-align: top;
  margin-bottom: 1em;
  /* margin-right: 1em; */
}

.test-form > section > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
