html {
  padding: 0;
  margin: 0;
}
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 12pt;
  line-height: 1.4em;
  margin: 0;
  padding: 1.4cm 1cm;
  color: #222;
}
code,
pre {
  font-family: "courier new", courier, monospace;
  letter-spacing: -0.5px;
  color: #048;
}
h1 {
  margin: 1em 0;
}
h1 {
  font-size: 14pt;
}
h2 {
  font-size: 12pt;
}
h3 {
  font-size: 12pt;
}
p {
  margin: 20px 0;
}
ul {
  margin: 20px 0 20px 0.2em;
  padding: 0;
  list-style-position: inside;
}
pre {
  margin-left: 20px;
}
table {
  border-spacing: 0;
}
td,
th {
  border-bottom: thin solid #eef;
  padding: 0.5em 1em;
  line-height: 1.3em;
  text-align: left;
}
th {
  font-size: 90%;
}
form {
  margin: 0;
}
form div {
  margin-bottom: 0.5em;
}
input,
select,
button,
textarea {
  font-family: sans-serif;
  border: thin solid #aaa;
  padding: 0.2em 0.5em;
  border-radius: 2px;
  font-size: 1em;
}
input[type="number"][size="2"] {
  width: 4em;
}
.button,
button {
  display: inline-block;
  padding: 0.2em 1em;
  border: thin solid #376092;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: #376092;
  cursor: pointer;
}
.button:hover,
button:hover {
  /*color: white;*/
}
input[type="checkbox"] + label {
  display: inline;
}
input[type="file"] {
  border: none;
}
input[type="number"] {
  width: 4em;
}
label:not(.inline) {
  display: block;
}
